@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: 'Montserrat';
  text-align: center;
}

p {
  color: #8f8f8f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: Bold;
}

/* Headings */
.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Title Section */
#title {
  margin: 0;
  width: 100%;
  /* height: 100vh; */
  /* background: linear-gradient(-45deg, #000, #FFF9CA, #FFDEB4, #FFB4B4, #B2A4FF, #000); */
  background: linear-gradient(-45deg, #000, #4C3A51, #774360, #B25068, #E7AB79, #000);
  animation: gradientBG 10s ease infinite;
  background-size: 300% 300%;
  color: #fff;
  text-shadow: 0 0 3px #FFDE7D, 0 0 5px #F6416C;
  text-align: left;
}

.container-fluid {
  padding: 7% 15%;
}
#title.container-fluid {
  padding:3% 15% 7%;
}
/* Sections */

 .colored-section{
   background-color: #ef8172;
   color: #fff;
 }
.white-section{
    background-color: #fff;
}

/* Nabigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.8rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.3rem;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 23%;
}
.logo-image{
  margin-left: 0px;
  width: 5%;
  border-radius: 100%;
  margin: 20px;
  margin-left: 0px;
}
/* Features Section */
#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item {
  padding: 3% 15%;
}

#press{
  background: white;
}

.press-logo {
  width: 15%;
  margin: 20px 0px 20px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

@media (max-width:991px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* Call to Action Section */
#cta {
  margin: 0;
  width: 100%;
  background: linear-gradient(180deg, #000000, #2D132C, #801336, #C72C41, #EE4540, #000000);
  animation: gradientBG 10s ease infinite;
  background-size: 300% 300%;
}

.social-icon {
  margin: 20px 10px;
}
/* a  */
a:visited {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ef8172;
  background-color: transparent;
  text-decoration: underline;
}
